@{
    ViewData["Title"] = "Hogar";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Librería Venus</p><br>
    <br>
</div>

<div class="row">
    <!--VISION-->
    <div class="col-xl-6 col-lg-6">
        <div class="card shadow mb-4">
            <!-- Card Header -->
            <div class="card-header py-3 bg-second-primary">
                <h6 class="m-0 font-weight-bold text-white">Vision</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area" style="height: 250px !important;">
                       <img style="float:right" src="../img/rompecabezas.png" height="60px" width="60px" border="10" vspace="29" hspace="15"></img>
                    <p style="text-align:justify">
                            Ser una empresa con un mejor prestigio reconocido a nivel nacional,
                            capaz de satisfacer las necesidades del cliente, y así mismo de sus proveedores.

                            Asimismo, lograr que nuestros clientes nos consideren líderes en cuanto a servicio y alternativas 
                            de consumo en la comercialización y distribución de productos escolares y de oficina.
                    </p> 
                </div>
            </div>
        </div>
    </div>

    <!--MISION-->
    <div class="col-xl-6 col-lg-6">
        <div class="card shadow mb-4">
            <!-- Card Header-->
            <div class="card-header py-3 bg-second-primary">
                <h6 class="m-0 font-weight-bold text-white">Mision</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area" style="height: 250px !important;">
                    <img style="float:right" src="../img/calidad.png" height="60px" width="60px" border="10" vspace="29" hspace="15"></img>
                    <p style="text-align:justify">
                        Proporcionar a todos los clientes un excelente servicios, productos de buena calidad,
                        con precios competitivos, la incorporación de nuevos productos artículos y servicios
                        requeridas por los clientes. Así mismo encontrar la manera de brindar descuentos y reducir
                        costos de productos para un beneficio directo al cliente
                    </p>

                </div>
            </div>
        </div>
    </div>
    
</div>
